src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:iota="http://www.mulesoft.org/schema/mule/iota"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/iota http://www.mulesoft.org/schema/mule/iota/current/mule-iota.xsd">

	<iota:config name="config">
		<iota:connection protocol="HTTPS"
			host="chrysalis-nodes.iota.cafe" port="443" />
	</iota:config>

	<flow name="retrieveInfoFlow">
		<iota:retrieve-node-info config-ref="config" />
	</flow>

	<flow name="generateSeedFlow">
		<iota:generate-seed config-ref="config" />
	</flow>
	
	<flow name="convertMnemonicToHexSeedFlow">
		<iota:mnemonic-to-hex-seed config-ref="config" privateMnemonicSeed="accident woman siege test boat rocket replace into win save buffalo boy ripple define solar hawk denial fiction three grunt what original pill illness" />
	</flow>

	<flow name="generateAddressFlow">
		<iota:generate-address config-ref="config">
			<iota:generate-mode>
				<iota:generate-address-with-options
					privateHexSeed="1234" accountIndex="0" addressRangeStart="0"
					numberOfAddresses="1" />
			</iota:generate-mode>
		</iota:generate-address>
	</flow>

	<flow name="findAddressFlow">
		<iota:find-address config-ref="config"
			privateHexSeed="1234"
			address="iota1qz9nct2wfmcf7lzdmhmpcp8al2zpm7dk0mnj933glxp5vyu7gmgtws6dzmt"
			accountIndex="0" addressRangeStart="0" addressRangeEnd="26" />
	</flow>

	<flow name="findMessageFlow">
		<iota:find-message config-ref="config">
			<iota:find-mode>
				<iota:find-message-by-index
					index="HORNET Spammer" maxResults="1" />
			</iota:find-mode>
		</iota:find-message>
	</flow>

	<flow name="sendMessageFlow">
		<iota:send-message config-ref="config">
			<iota:message-mode>
				<iota:send-indexation-message
					index="Index"
					messageContent='#["This is test content&#10;Test is more test content"]' />
			</iota:message-mode>
		</iota:send-message>
	</flow>

</mule>
